<!doctype html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8">

<!--
••••••••••••••••••••••••

Powered by Type & Grids™
www.typeandgrids.com

••••••••••••••••••••••••
-->

<title>Aravity! &mdash; Explore Your Product Associations</title>
<meta name="description" content="The portfolio of designer Ivan Designostrom">
<meta name="author" content="Ivan Designostrom">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
================================================================================================= -->
<link rel="stylesheet" href="css/base.css">
<link rel="stylesheet" href="css/themes/type_05.css">
<link rel="stylesheet" href="css/themes/color_06.css">

<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- Favicons
================================================================================================= -->
<link rel="shortcut icon" href="images/favicons/favicon.ico">
<link rel="apple-touch-icon" href="images/favicons/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="images/favicons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="images/favicons/apple-touch-icon-114x114.png">

<!-- JS
================================================================================================= -->
<script src="js/libs/modernizr.min.js"></script>
<script src="js/libs/jquery-1.8.3.min.js"></script>
<script src="js/libs/jquery.easing.1.3.min.js"></script>
<script src="js/libs/jquery.fitvids.js"></script>
<script src="js/script.js"></script>

</head>
<body>

<!-- Write preloader to page - this allows the site to load for users with JS disabled -->
<script type="text/javascript">
	document.write("<div id='sitePreloader'><div id='preloaderImage'><img src='images/site_preloader.gif' alt='Preloader' /></div></div>");
</script>

<div class="container">
	
	<!-- Header begins ========================================================================== -->
  <header class="sixteen columns">
		<div id="logo">
			<h1>Aravity!</h1>
			<h2>Do you really know your product associations? Let's explore it!</h2>
			<!--
			<img src="images/logo.png" width="275" height="35" alt="Logo" />
			-->
		</div>
		<nav>
			<ul>
				<li><button id="workPage">Aravity</button></li>
				<li><button id="aboutPage">About</button></li>
				<!--<li><a href="http://wordpress.org" target="_blank">Blog</a></li>-->
			</ul>
		</nav>
		<hr />
	</header>
	<!-- Header ends ============================================================================ -->
	
	<!-- Work page begins ======================================================================= -->
	<div id="work">
	
		<div id="overview" class="sixteen columns">
			<h3>Do you really know your product associations? Let's play a game and explore it!</h3>
			<hr />
		</div>
		
		<div class="eight columns" id="col1">
		
			<!-- Project begins ================================================================= -->
			<div class="project">
				
				<div class="projectThumbnail">
					<svg class="thumbnailMask"></svg>
					<div class="projectThumbnailHover">
						<h4>Chocolate Cream Cheese Croissants</h4>
						<h5>Recipe by: Safeway | Photo by: Safeway</h5>
					</div>
					
					<img src="images/ingredients/ChocolateCreamCheeseCroissants.jpg" alt="Project 01" class="thumbnailImage" />
				</div>
				
				<div class="projectInfo">
					<h4>Chocolate Cream Cheese Croissants</h4>
					<div class="projectNavCounter"></div>
					<div class="projectNav">
						<div class="projectNavEnlarge"><button class="enlargeButton" onClick="window.location.href='projects/project_01/index.html'">View full-size</button></div>
						<div class="projectNavClose"><button class="closeButton">Close</button></div>
						<div class="projectNavButtons"><button class="prev"></button><button class="next"></button></div>
					</div>
					<p>
						With crescent dinner roll dough, these chocolate-cream cheese croissants can be served at brunch or with a fresh pot of coffee or tea.
					</p>
					<ul>
						<li><strong>Ingredients:</strong> 
   <ul class="disc">          
<li>5 eggs</li>
<li>1 Tbsp. heavy cream</li>
<li>2 tsp. vegetable oil</li>
<li>4 Lucerne® Cream Cheese Slices</li>
<li>4 slices bacon – cooked cut in half</li>
<li>4 bagels – toasted, and split</li>
	</ul>
</li>
						<li><strong>Directions:</strong> 
<ul class="disc">          
<li>Cook bacon according to package or buy pre-cooked.</li>
<li>In a mixing bowl whisk together the eggs and the cream.</li>
<li>In a medium sauté pan with on medium-high heat, scramble the eggs until just before all the liquid is cooked. The carryover will finish it.</li>
<li>On 4 toasted bagel bottoms spoon the scrambled eggs on each; top with cheese, bacon and finish with the bagel top.</li>
<li>Serve with fresh fruit.</li>
	</ul>
                        </li>
						<li><strong>Year:</strong> 2013</li>
					</ul>
				</div>
				
			</div>
			<!-- Project ends =================================================================== -->
			
			<!-- Project begins ================================================================= -->
			<div class="project">
				
				<div class="projectThumbnail">
					<svg class="thumbnailMask"></svg>
					<div class="projectThumbnailHover">
						<h4>Cinnamon Twists with Cream Cheese</h4>
                       
						<h5>Recipe by: Safeway | Photo by: Safeway</h5>
					</div>
					<img src="images/ingredients/CinnamonTwistswithCreamCheeseIcing.jpg" alt="Project 02" class="thumbnailImage" />
				</div>
				
				<div class="projectInfo">
					<h4>Cinnamon Twists with Cream Cheese Icing</h4>
					<div class="projectNavCounter"></div>
					<div class="projectNav">
						<div class="projectNavEnlarge"><button class="enlargeButton" onClick="window.location.href='http://www.SupermarketAPI.com/api.asmx/SearchForItem?APIKEY=a24d8c74ca&StoreId=e6k3fjw76k&ItemName=Apple'">View video</button></div>
						<div class="projectNavClose"><button class="closeButton">Close</button></div>
						<div class="projectNavButtons"><button class="prev"></button><button class="next"></button></div>
					</div>
					
					<p>
						Make these easy baked cinnamon twists with refrigerated pizza dough, lots of brown sugar and cinnamon, and a drizzle of cream cheese icing.
					</p>
					<ul>
						<li><strong>Ingredients:</strong> 
<ul class="disc">          
<li>1 roll Refrigerated Pizza Dough or 1 sheet Frozen Puff Pastry, defrosted</li>
<li>2 tbsp. Lucerne® Butter</li>
<li>3/4 cup Brown Sugar, packed</li>
<li>2.5 tsp. Cinnamon, ground</li>
<li>1 Lucerne® Eggs, beaten (optional)</li>
<li>Cream Cheese Icing:</li>
<li>4 oz. Lucerne® Cream Cheese</li>
<li>4 oz. Lucerne® Butter</li>
<li>1 tsp. Vanilla Extract</li>
<li>1 cup Powdered Sugar, sifted</li>
	</ul>
                        </li>
						<li><strong>Directions:</strong> Directions</li>
						<li><strong>Year:</strong> 2013</li>
					</ul>
				</div>
				
			</div>
			<!-- Project ends =================================================================== -->
			
			<!-- Project begins ================================================================= -->
			<div class="project">
				
				<div class="projectThumbnail">
					<svg class="thumbnailMask"></svg>
					<div class="projectThumbnailHover">
						<h4>Cheese Crisps</h4>
						<h5>Recipe by: Safeway | Photo by: Safeway</h5>
					</div>
					<img src="images/ingredients/CheeseCrisps.jpg" alt="Project 03" class="thumbnailImage" />
				</div>
					
				<div class="projectInfo">
					<h4>Cheese Crisps</h4>
					<div class="projectNavCounter"></div>
					<div class="projectNav">
						<div class="projectNavEnlarge"><button class="enlargeButton">View full-size</button></div>
						<div class="projectNavClose"><button class="closeButton">Close</button></div>
						<div class="projectNavButtons"><button class="prev"></button><button class="next"></button></div>
					</div>
					<p>
						It just takes minutes to make these crunchy cheese crisps in a non-stick skillet. Eat as a snack, or toss over salads or soups. For a variation, shape the cheese into a dish and use as a salad bowl.
					</p>
					<ul>
						<li><strong>Ingredients:</strong>
<ul class="disc">          
<li>1 package (8 oz.) Lucerne Shredded Parmesan or Parmesan Romano Cheese</li>
	</ul>
                        </li>
						<li><strong>Directions:</strong> Directions</li>
						<li><strong>Year:</strong> 2013</li>
					</ul>
				</div>
				
			</div>
			<!-- Project ends =================================================================== -->
			
			<!-- Project begins ================================================================= -->
			<div class="project">
				
				<div class="projectThumbnail">
					<svg class="thumbnailMask"></svg>
					<div class="projectThumbnailHover">
						<h4>Ham and Cream Cheese Mini Wraps</h4>
						<h5>Recipe by: Safeway | Photo by: Safeway</h5>
					</div>
					<img src="images/ingredients/HamandCreamCheeseMiniWraps.jpg" alt="Project 04" class="thumbnailImage" />
				</div>
					
				<div class="projectInfo">
					<h4>Ham and Cream Cheese Mini Wraps</h4>
					<div class="projectNavCounter"></div>
					<div class="projectNav">
						<div class="projectNavEnlarge"><button class="enlargeButton" onClick="window.location.href='projects/project_01/index.html'">View full-size</button></div>
						<div class="projectNavClose"><button class="closeButton">Close</button></div>
						<div class="projectNavButtons"><button class="prev"></button><button class="next"></button></div>
					</div>
					<p>
						Tortillas with ham, cheese, mustard, and lettuce and rolled up, chilled, then sliced into mini-wraps for an easy appetizer or snack.
					</p>
					<ul>
						<li><strong>Ingredients:</strong>Ingredients</li>
						<li><strong>Directions:</strong> Directions</li>
						<li><strong>Year:</strong> 2013</li>
					</ul>
				</div>
				
			</div>
			<!-- Project ends =================================================================== -->
			
			<!-- Project begins ================================================================= -->
			<div class="project">
				
				<div class="projectThumbnail">
					<svg class="thumbnailMask"></svg>
					<div class="projectThumbnailHover">
						<h4>Cream Cheese Breakfast Bagel</h4>
                        <h5>Recipe by: Safeway | Photo by: Safeway</h5>
					</div>
					<img src="images/ingredients/CreamCheeseBreakfastBagel.jpg" alt="Project 05" class="thumbnailImage" />
				</div>
				
				<div class="projectInfo">
					<h4>Cream Cheese Breakfast Bagel</h4>
					<div class="projectNavCounter"></div>
					<div class="projectNav">
						<div class="projectNavEnlarge"><button class="enlargeButton" onClick="window.location.href='projects/project_01/index.html'">View full-size</button></div>
						<div class="projectNavClose"><button class="closeButton">Close</button></div>
						<div class="projectNavButtons"><button class="prev"></button><button class="next"></button></div>
					</div>
					<p>
						Scrambled eggs are served on bagels with cream cheese and bacon for a quick and tasty on-the-go breakfast.
					</p>
					<ul>
						<li><strong>Ingredients:</strong> Ingredients</li>
						<li><strong>Directions:</strong> Directions</li>
						<li><strong>Year:</strong> 2013</li>
					</ul>
				</div>
				
			</div>
			<!-- Project ends =================================================================== -->
			
			<!-- Project begins ================================================================= -->
			<div class="project">
				
				<div class="projectThumbnail">
					<svg class="thumbnailMask"></svg>
					<div class="projectThumbnailHover">
						<h4>Salmon with Cream Cheese and Pesto</h4>
						<h5>Recipe by: Safeway | Photo by: Safeway</h5>
					</div>
					<img src="images/ingredients/SalmonwithCreamCheeseandPesto.jpg" alt="Project 06" class="thumbnailImage" />
				</div>
					
				<div class="projectInfo">
					<h4>Salmon with Cream Cheese and Pesto</h4>
					<div class="projectNavCounter"></div>
					<div class="projectNav">
						<div class="projectNavEnlarge"><button class="enlargeButton" onClick="window.location.href='projects/project_01/index.html'">View full-size</button></div>
						<div class="projectNavClose"><button class="closeButton">Close</button></div>
						<div class="projectNavButtons"><button class="prev"></button><button class="next"></button></div>
					</div>
					<p>
						A steamy pocket of buttery filo dough engulfs richly frosted salmon to ignite your taste buds.
					</p>
					<ul>
						<li><strong>Ingredients:</strong> Ingredients</li>
						<li><strong>Directions:</strong> Directions</li>
						<li><strong>Year:</strong> 2013</li>
					</ul>
				</div>
				
			</div>
			<!-- Project ends =================================================================== -->
			
		</div><!-- col1 -->
		
		<!-- Even numbered projects are dynamically moved into this second column via JS -->
		<div class="eight columns" id="col2">
		</div>
	
	</div>
	<!-- Work page ends ========================================================================= -->
	
	<!-- About page begins ====================================================================== -->
	<div id="about">
		
		<!-- Column 1 begins ==================================================================== -->
		<div class="eight columns">
			
			<h3>About Aravity!</h3>
			<p>
			Aravity! is an exciting game to play. Aravity! help you explore grocories in nearby stores with your favorite new recipes. Wanna a warm and romantic dinner with your husband? Start play Aravity!
			</p>
			
			<h4>About of Team!</h4>
			<p>
				Han and Yan is here!
			</p>
			
			<h4>Why play Aravity?</h4>
			<p>
				whatever...
			</p>
			
			<ul class="disc">
				
				<li>Great fun!</li>
			</ul>
			
			Interesting to play
			</p>
			
			<h4>See what other people say about Aravity!</h4>
			<p>
				Sarah: I love it!
                Philip: My favorite!
                Han: XXXXXX...
                lol: lol
			</p>
			
		</div>
		<!-- Column 1 ends ====================================================================== -->
		
		<!-- Column 2 begins ==================================================================== -->
		<div class="eight columns">
			
			<img src="images/hanjin.jpg" alt="About" />
			
			<ul class="linedList">
				<li><strong>Location:</strong> Milpitas, CA</li>
				<li><strong>Email:</strong> <a href="mailto:jinhanx@gmail.com">jinhanx@gmail.com</a></li>
				<li><strong>Profile:</strong> <a href="resume.pdf">resume.pdf</a></li>
				<li><strong>LinkedIn:</strong> <a href="http://www.linkedin.com/profile/view?id=137625470&locale=de_DE&trk=tyah" target="_blank">Han Jin's Linkedin</a></li>
			</ul>
			
		
			
		  <img src="images/yanli.jpg" alt="About" />
			
			<ul class="linedList">
				<li><strong>Location:</strong> Belmont, CA</li>
				<li><strong>Email:</strong> <a href="mailto:liyan.net@gmail.com">liyan.net@gmail.com</a></li>
				<li><strong>Profile:</strong> <a href="resume.pdf">resume.pdf</a></li>
				<li><strong>LinkedIn:</strong> <a href="http://www.linkedin.com/profile/view?id=126160897&trk=nav_responsive_tab_profile" target="_blank">Yan Li's Linkedin</a></li>
			</ul>
			
		</div>
		<!-- Column 2 ends ====================================================================== -->
  </div>
	<!-- About page ends ======================================================================== -->
	
	<!-- Footer begins ========================================================================== -->
	<footer class="sixteen columns">
		<hr />
		<ul id="footerLinks">
			<li>&copy; 2013 Aravity!. All rights reserved.</li>
			<li><a href="mailto:jinhanx@gmail.com">jinhanx@gmail.com</a></li>
			<li><a href="http://www.twitter.com" target="_blank">Twitter</a></li>
			<!--Notice: The "Powered by Type & Grids" link in the footer is required in the Free version. Upgrade to the Pro version if you would like to remove it.-->
			<li><a href="http://www.typeandgrids.com" target="_blank">Powered by Type &amp; Grids</a></li>
		</ul>
	</footer>
	<!-- Footer ends ============================================================================ -->
		
</div><!-- container -->
</body>
</html>
